.print-d-none{
  @media print {
    display: none;
  }
}

.login_bg{
  background-image: url(./assests/medical3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

