/* .print-preview-button {
  @media print {
    display: none;
  }
}
.App{
  display: flex;
  justify-content: space-between;
}

.print-component {
  display: none;

  @media print {
    display: table;

    .table-footer>tr>td {
      text-align: center;
      background-color: grey;
      color: white;
    }
  }
}


.value span{
  padding-right: 5px;
  font-weight: bold;
} */

.print-d-none{
  @media print {
    display: none;
  }
}